.movie-card {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    position: relative;

    .movie-poster img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: opacity .6s;

    }

    .movie-infos {
        position: absolute;
        bottom: 0;
        background: linear-gradient(#00000000, #000000 90%) ;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 10px;

        .movie-title {
            color:beige ;
            font-size: 12px;
            margin-bottom: 6px;
        }

        .hidden-content {
            color:beige;
            font-size: 12px;
            margin-top: 8px;
            height: 0px;
            opacity: 0;
            transition: all;

            .btn-default {
                background-color: #3420bb;
                padding: 6px 8px;
                border-radius: 4px;
                margin-top: 10px;
                color: aliceblue;
                border: none;
                cursor: pointer;
                width: 100%;


            }
        }
    }

    &:hover {
        cursor: pointer;

        .movie-poster img {
            opacity: 0.5;
        }

        .hidden-content {
            opacity: 1;
        }
        .movie-infos:has(.descripition) .hidden-content {
            height: 100px;
        }

        .movie-infos:not(:has(.descripition)) .hidden-content {
            height: 90px;
        }
    }
}